<h1 class="text-center text-underline text-brand mt-2 mb-5" style="color: #010a43">Delicious cocktails</h1>


<div class="row">
    <% @cocktails.each do |cocktail| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card-product">
      <%= image_tag cocktail.picture %>
  <div class="card-product-infos">
    <h2> <%= link_to cocktail.name , cocktail_path(cocktail)  %> </h2>
    <br>
      </div>
      </div>
    </div>
    <% end %>
  </div>




