<%= render 'components/navbar' %>






<div class="row">
    <% @firstThirtyCocktails.each do |cocktail| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card-product">
      <%= image_tag cocktail.picture %>
        <div class="card-product-infos">
          <h2> <%= link_to cocktail.name , cocktail_path(cocktail)  %> </h2>
          <br>
        </div>
    </div>
  </div>
  <% end %>
</div>


<div class="footer mt-5">
  <p class="text-center">follow us</p>
  <div class="text-center">
    <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-fw fa-github"></i></a>
    <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
    <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
    <p class="text-center">This website was coded with <i class="fas fa-heart"></i> at Le Wagon.</p>
  </div>
</div>

