    <% @results.each do |cocktail| %>
    <div class="card-product">
      <%= image_tag cocktail.picture %>
        <div class="card-product-infos">
          <h2> <%= link_to cocktail.name , cocktail_path(cocktail)  %> </h2>
        </div>
    </div>
  <% end %>

<br><br>


