<div class='home-container-image-box'>
	<div class='box-home-page'>
		<div class="discover-box">
			<h1>Discover The best Cocktails</h1>
			<!-- <button><%= link_to "Let's go", cocktails_path%></button> -->
			<div class="btn btn-info"><%= link_to "Let's go", cocktails_path%></div>
		</div>	
	</div>
</div>

