// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product:hover {
  overflow: hidden;
  height: 120px;
  background: #21243d;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos a {
  padding: 16px;
  text-decoration: none;
  color: #66DE89;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// card trip

.btn-secondary {
  color: white;
  background-color: #66DE89;
  border: 5px solid #66DE89;
}

.btn-secondary:hover {
  color: white;
  background-color: #66DE89;
  border: 5px solid #66DE89;
}

.badge-secondary {
    color: #fff;
    background-color: #66DE89;
}

.btn-primary {
  background-color: #66DE89;
  border: 5px solid #66DE89;
}
.btn-primary:hover {
  background-color: #66DE89;
  border: 5px solid #66DE89;
}
a {
  text-decoration: none;
}

.Delicious-btn {
  color:#66DE89;
  font-size: 21px;
  font-weight: bold;
}
.Delicious-btn:hover {
  color:#66DE89;
  font-size: 21px;
  text-decoration: none;
}


.trash-position {
  right: 30%;
  position: absolute;
}